<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--<bean id="teacher" class="com.spring.ioc.domain.Teacher">
		<property name="name" value="zhangsan" />
		<property name="student" ref="student" />
	</bean>

	<bean id="student" class="com.spring.ioc.domain.Student">
		<property name="stuId" value="202012235698" />
		<property name="teacher" ref="teacher" />
	</bean>

	<bean id="myBeanFactoryPostProcessor"
		  class="com.spring.ioc.config.MyBeanFactoryPostProcessor" />

	<bean id="myBeanPostProcessor"
		  class="com.spring.ioc.config.MyBeanPostProcessor" />

	<bean id="factoryBean" class="com.spring.ioc.config.ClassRoomFactoryBean" />

	<bean id="applicationContextHolder"
		  class="com.spring.ioc.config.ApplicationContextHolder"/>

	<bean id="environmentHolder" class="com.spring.ioc.config.EnvironmentHolder"/>

	<bean id="applicationEventPublisher" class="com.spring.ioc.config.EventPublisherHolder"/>-->

	<bean id="course" class="com.spring.ioc.domain.Course">
		<property name="name" value="${name}"/>
	</bean>
</beans>